<h1>Editing player</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_player_path(@player), :class => "btn btn-primary" %>
<%= link_to 'Back', admin_players_path, :class => "btn btn-danger" %>
</div>
