<h1>Editing match</h1>

<%= render 'form' %>

<%= link_to 'Show', tournament_round_match_path(@tournament, @round, @match) %> |
<%= link_to 'Back', tournament_round_matches_path(@tournament, @round) %>
